<%= form_for(@ss) do |f| %>
  <% if @ss.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ss.errors.count, "error") %> prohibited this ss from being saved:</h2>

      <ul>
      <% @ss.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :key %><br />
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :data %><br />
    <%= f.text_area :data %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
