<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @ss.key %>
</p>

<p>
  <strong>Data:</strong>
  <%= @ss.data %>
</p>


<%= link_to 'Edit', edit_ss_path(@ss) %> |
<%= link_to 'Back', sses_path %>
